<html>
    <head>
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.3/font/bootstrap-icons.css">
    </head>
    <body>
        <footer class="blog-foot">

            <p>Confeccionado con
                <a href="https://getbootstrap.com/">Bootstrap</a>
                /
                <a href="#">Django</a>
            </p>
            <p>
                <a href="https://www.facebook.com/edgareduardo.lopez.52" target="_blank"><i class="bi bi-facebook"></i></a>
                <a href="https://www.instagram.com/eduardolopez9077/" target="_blank"><i class="bi bi-instagram"></i></a>
                <a href="https://github.com/Edg09Lopez?tab=repositories" target="_blank"><i class="bi bi-github"></i></a>
            </p>
        </footer>
    </body>
</html>
